<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="atlas" value="https://pkgs.dev.azure.com/OrgName/ProjectName/_packaging/FeedName/nuget/v3/index.json" />
  </packageSources>
</configuration>